[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
requests = "*"
pyzbar = "*"
pillow = "*"
jinja2 = "*"
pycryptodome = "*"
sqlalchemy = "==2.0.36"
sqlmodel = "==0.0.22"
pydantic-settings = "*"
pydantic = "==v2.10.3"
mysql-connector-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
